<div class="card">
    <div class="card-header">
        Productos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9</td>
                    <td>Vinito</td>
                    <td>10800</td>
                    <td>
                        <a routerLink="/editar-producto/1"> Editar </a> | Borrar</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>