<div class="card">
    <div class="card-header">
        Productos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of Productos; let iControl=index">
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                        <a class="btn btn-info" routerLink="/editar-producto/{{producto.id}}"> Editar </a> | 
                        <a class="btn btn-danger" (click)="borrarRegistro(producto.id, iControl)" role="button">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>