<div class="card">
    <div class="card-header">
        Editar producto
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioProductos" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input required formControlName="nombre" type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre...">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Precio</label>
                <input required formControlName="precio" type="number"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Precio...">
              </div>
              <div class="btn-group" role="group" aria-label="">
                  <button type="submit" class="btn btn-warning">Mofidicar</button>
                  <button type="button" routerLink="/alistar-producto/" class="btn btn-danger">Cancelar</button>
              </div>
        </form>
    </div>
</div>